fastapi
uvicorn
openai
langchain==0.2.16
langchain-openai
langchain-community==0.2.17
langchain-text-splitters
faiss-cpu
python-multipart
pypdf
python-dotenv
tiktoken
docx2txt
python-docx
gunicorn
pydantic>=2.0.0
